html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

.navbar {

  background: #000 !important;
  border-bottom: 3px #ff0000 solid;

  span {
    color: #ff0000 !important;
  }

  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .nav-item.active {
    border-left: #444 3px solid;
  }
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/Title.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-image-2 {
  background-image: url("../img/image2-resized.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-image-3 {
  background: url("../img/image3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/image4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -1000px;
  text-align: center;
  color: rgb(255, 0, 0);

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  a {
    color: #fff;
  }
}

#about-header {
  height: 60px;
  background: #000;
  color: #fff;
  border-bottom: 3px #ff0000 solid;
  padding-top: 1px;
  text-transform: capitalize;
}

#about .container {
  width: auto;
  height: 700px;
}

.about-img {
  margin-left: auto;
  width: auto;
  height: 600px;
  border-radius: 5px;
  box-shadow: -10px 10px 10px #444;
}

#blog-header {
  height: 60px;
  background: #000;
  color: #fff;
  border-bottom: 3px rgb(255, 0, 0) solid;
  padding-top: 1px;
  text-transform: uppercase;
}

#blog {

  #box-shadow {
    box-shadow: 10px 10px 10px #333;
  }

  .social-blog a {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 10px;
    width: 10px;

    .fab {
      margin-right: 2rem;
      border: 2px #000 solid;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      line-height: 15px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: rgb(255, 0, 0);
      }
    }
  }
}

#main-footer {
  background: #000;
  color: #fff;

  .social a {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
  }

  .social a .fab,
  .fas {
    margin-right: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;

    &:hover {
      background: rgb(255, 0, 0);
    }
  }
}

@media (min-width: 1000px) {
  .carousel-image-2 {
    background-image: url("../img/image2-resized.jpg");
    background-position-y: -100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1400px) {
  .carousel-image-3 {
    background-image: url("../img/image3.jpg");
    position: center;
    background-position-y: -300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 2000px) {
  .carousel-image-3 {
    background-image: url("../img/image3.jpg");
    position: center;
    background-position-y: -400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}